<div class="login-container">
  <form class="login-box" (ngSubmit)="onSubmit()">
    <h2>Inscription</h2>

    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" [(ngModel)]="firstname" required>

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" [(ngModel)]="lastname" required>

    <label for="username">Nom d'utilisateur</label>
    <input id="username" name="username" [(ngModel)]="username" required>

    <label for="password">Mot de passe</label>
    <input id="password" type="password" name="password" [(ngModel)]="password" required>

    <button type="submit">S'inscrire</button>
  </form>
</div>
