<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/parking" routerLinkActive="active">
        <i class="fas fa-car"></i> Parking
      </a>
    </li>
    <li>
      <a routerLink="/admin/places" routerLinkActive="active">
        <i class="fas fa-map-marker-alt"></i> Place
      </a>
    </li>
    <li>
      <a routerLink="/admin/reservations" routerLinkActive="active">
        <i class="fas fa-calendar-check"></i> Réservations
      </a>
    </li>
  </ul>
</nav>
