<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="dashboard-container">
  <h2>Admin Dashboard</h2>

  <div class="cards-wrapper">
    <div class="card">
      <i class="fa-solid fa-calendar-check card-icon"></i>
      <h3>{{ numberOfReservations }}</h3>
      <p>Réservations</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-map-marker-alt card-icon"></i>
      <h3>{{ availableSpots }}</h3>
      <p>Places disponibles</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-car card-icon"></i>
      <h3>{{ numberOfParkings }}</h3>
      <p>Parkings</p>
    </div>
  </div>

  <div class="chart-wrapper" style="margin-top: 40px;">
  <h3>Historique des réservations</h3>
  <div *ngIf="isBrowser">
  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="lineChartType">
  </canvas>
</div>

</div>

</div>
